* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    list-style: none;
    font-family: 'Montserrat Alternates', sans-serif;
}
p{

    text-align: justify;
    
}


.titulo {

    background-color: black;
    padding: 100px;
}

.titulo h1 {

    color: white;
    font-size: 100px;
}

h2 {
    font-size: 45px;
    font-style: bold;
    font-weight: 700;
    text-align: center;
}

 img {

    min-width: 450px;
    height: 350px;
}

.carrousel1 {

    background-color: black;
    padding: 100px;
}

.carrousel1 div h3 {
    color: white;
    font-size: 48px;

    font-weight: 700;
    text-align: center;

}

.carrousel1 div p {

    color: white;
    text-align: justify;
}

.carrousel1 div li {

    color: white;
}

.carrousel2 div h3 {


    font-size: 48px;

    font-weight: 700;
    text-align: center;

}

@media(max-width:770px){
    .carrousel1, .carrousel2{
        flex-wrap: wrap;
    }
    .carousel-inner img{

        min-width: 350px;
        height: 250px;
    }
    .titulo h1 {

        color: white;
        font-size: 40px;
    }
    
    

}