
*{
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    list-style: none;
    font-family: 'Montserrat Alternates', sans-serif;
}
.Titulo{

    background-color: black;
    padding: 100px;
}
.Titulo h1{

    color: white;
    font-size: 100px;
}
h2{
    font-size: 48px;
    font-style: bold;
    font-weight: 700;
    text-align: center;
}
.carousel-item img{
    max-width: 550px;
    height: 650px;
}